/****************************************
-- Author: Sergey Gromov
-- VK: vk.com/s.gromov999

-- File: main.css;
-- Date: 23.10.2016;
****************************************/


/* font-family: "RalewayRegular"; */
@font-face {
    font-family: "RalewayRegular";
    src: url("../fonts/RalewayRegular/RalewayRegular.eot");
    src: url("../fonts/RalewayRegular/RalewayRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RalewayRegular/RalewayRegular.woff") format("woff"),
    url("../fonts/RalewayRegular/RalewayRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RalewaySemiBold"; */
@font-face {
    font-family: "RalewaySemiBold";
    src: url("../fonts/RalewaySemiBold/RalewaySemiBold.eot");
    src: url("../fonts/RalewaySemiBold/RalewaySemiBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RalewaySemiBold/RalewaySemiBold.woff") format("woff"),
    url("../fonts/RalewaySemiBold/RalewaySemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RalewayBold"; */
@font-face {
    font-family: "RalewayBold";
    src: url("../fonts/RalewayBold/RalewayBold.eot");
    src: url("../fonts/RalewayBold/RalewayBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RalewayBold/RalewayBold.woff") format("woff"),
    url("../fonts/RalewayBold/RalewayBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "BaronBold"; */
@font-face {
    font-family: "BaronBold";
    src: url("../fonts/BaronBold/BaronBold.eot");
    src: url("../fonts/BaronBold/BaronBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/BaronBold/BaronBold.woff") format("woff"),
    url("../fonts/BaronBold/BaronBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}